In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

## Lets get some data to look at

Movies! IMDB has a lot of information about movies and tv shows and it's easy to download and get.


The documentioan is here:

https://www.imdb.com/interfaces/

Let's look at movie ratings!

In [2]:
ratings = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz", sep='\t')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1626
1  tt0000002            6.1       196
2  tt0000003            6.5      1315
3  tt0000004            6.2       119
4  tt0000005            6.1      2097

#### Ok great we have these ratings but what movie are they for?

Looking at the documentation:


#### title.ratings.tsv.gz – Contains the IMDb rating and votes information for titles
* tconst (string) - alphanumeric unique identifier of the title
* averageRating – weighted average of all the individual user ratings
* numVotes - number of votes the title has received

We'll have to get the name from somewhere else using "tconst" varialbe to match between dataframes.

#### title.basics.tsv.gz - Contains the following information for titles:
* tconst (string) - alphanumeric unique identifier of the title
* titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
* primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
* originalTitle (string) - original title, in the original language
* isAdult (boolean) - 0: non-adult title; 1: adult title
* startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year
* endYear (YYYY) – TV Series end year. ‘\N’ for all other title types
* runtimeMinutes – primary runtime of the title, in minutes
* genres (string array) – includes up to three genres associated with the title

#### Lets load the titles

In [3]:
titles = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep='\t')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,\N
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,\N
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,\N
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,\N

Let's cleanup some of the data by selecting a type (Movies) and drop a few of the columns we're not going to use.

#### 1) Use titleType to get only movies 
* What are the titleType's?
* How do we get rid of the ones we don't want?

#### 2) Let's drop some things we're not using
* Once we know titleType is Movies we can drop it
* It seems primaryTitle	and originalTitle are the same for most, let's only keep 1
* endYear seems to be only used for tv shows, lets drop endYear and rename startYear to just year.

In [5]:
#

#### Let's select 'movie' and 'tvMovie' and get rid of all the rest.

In [6]:
#

In [7]:
#

### Let's drop some of our unused columns

Use the [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) method built into pandas.

In [8]:
#

### Let's match up the movies to their rating now. 

[Merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

In [9]:
#

In [10]:
#

### Let's plot something to see how the data looks

In [11]:
#

### Ooops looks like something is wrong

```
ValueError: could not convert string to float: '\\N'
```

#### A ‘\N’ is used to denote that a particular field is missing or null for that title/name.

Let's take out all the numbered values that are null

First let's make them all into numbers and anything that's not get changed to NaN (Not a number)

In [12]:
#

## Now that we have some clean data let's make some cool plots!

In [13]:
#

In [14]:
#

In [15]:
#

In [16]:
#

In [17]:
#

In [18]:
#

In [19]:
#